csealumni.jkkniu.edu.bd {
    # API requests handler
    handle /api/* {
        reverse_proxy backend:4000
    }

    # Serve images from /app/uploads/images
    handle_path /uploads/images/* {
        root * /app/uploads/images
        file_server
    }

    handle_path /admin/api/* {
        reverse_proxy backend:4000
        rewrite * /api{path}
    }

    # Static files handler
    handle {
        root * /srv
        try_files {path} /index.html
        file_server
        encode gzip
    }

    # Security headers
    header {
        Strict-Transport-Security "max-age=31536000;"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
        X-XSS-Protection "1; mode=block"
        X-Frame-Options "DENY"
        Content-Security-Policy "default-src 'self' 'unsafe-inline' 'unsafe-eval'; img-src 'self' data: blob:; connect-src 'self' https://csealumni.jkkniu.edu.bd;"
    }
}
